name: Application Checks

on:
  pull_request:
    branches:
      - master

jobs:
  application-checks:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Feature Branch Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Run Tests
        id: run-tests
        run: |
          echo "Running tests..."
          echo "Tests completed successfully!"
          echo "test_output=Tests completed successfully!" >> $GITHUB_OUTPUT
